<div class="container">
    <article class="article">
        <div class="row">
            <div class="col-xs-12">
                <h2><span>On twitte ?</span></h2>
            </div>
            <div class="col-xs-3 col-sm-4 col-md-3">
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 150px; height: 150px; opacity:1;"
                    data-bottom-top="top: 100px; left:0px;transform:rotate(0deg);"
                    data-top-bottom="top: 500px; transform:rotate(360deg); left:200px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 100px; height: 100px; opacity:0.6;"
                    data-bottom-top="top: 0px; left:150px;"
                    data-top-bottom="top: 600px; left:0px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 70px; height: 70px; opacity:0.5;"
                    data-bottom-top="top: 300px;left:50px;"
                    data-top-bottom="top: 0px; left:150px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 50px; height: 50px; opacity:0.3;"
                    data-bottom-top="top: 500px; left:100px;"
                    data-top-bottom="top: 0px; left:0px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
            </div>
            <div class="col-xs-9 col-sm-8 col-md-9">
                <div class="center-block">
                    <a class="twitter-timeline" href="https://twitter.com/julienfaury"
                    data-widget-id="490784432823869440">Tweets de @julienfaury</a>
                    <p>Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une Wurschtsalad avec un picon bitte, s'il te plaît.
                      Voss ? Une Carola et du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !</p>
                    <p>Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik en compagnie de Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !</p>
                    <p>Yoo ch'ai lu dans les DNA que le Racing a encore perdu contre Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et une flammekueche. Ah so ? T'inquiète, ch'ai ramené du schpeck, du chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt ! Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis au réchime, je ne mange plus que des Grumbeere light et che fais de la chym avec Chulien. Tiens, un rottznoz sur le comptoir.</p>
                    <p>Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci vielmols mais che dois partir à la Coopé de Truchtersheim acheter des mänele et des rossbolla pour les gamins. Hopla tchao bissame ! Consectetur adipiscing elit</p>

                    <p>Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une Wurschtsalad avec un picon bitte, s'il te plaît.
                  Voss ? Une Carola et du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !</p>
                <p>Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik en compagnie de Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !</p>
                <p>Yoo ch'ai lu dans les DNA que le Racing a encore perdu contre Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et une flammekueche. Ah so ? T'inquiète, ch'ai ramené du schpeck, du chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt ! Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis au réchime, je ne mange plus que des Grumbeere light et che fais de la chym avec Chulien. Tiens, un rottznoz sur le comptoir.</p>
                <p>Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci vielmols mais che dois partir à la Coopé de Truchtersheim acheter des mänele et des rossbolla pour les gamins. Hopla tchao bissame ! Consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
    </article>
</div>

{# data-bottom-top="transform: translate3d(0px, -100%, 0px);"#}
{# data-top-bottom="transform: translate3d(0px, 100%, 0px);"#}