<div class="l-container">
    <article class="article">
        <div class="row">
            <div class="col-s-12 col-m-3">
                    <div class="col-s-12">
                        {{ render(controller('ManManuiaBundle:Block:selfiSlider')) }}
                    </div>
                    <div class="col-s-12">
                        <div style="text-align: center;">
                            <a href="https://twitter.com/antoine_michael" target="_blank" title="Twitter">
                                <span>Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com/pub/michael-antoine/74/997/114" target="_blank" title="Linkedin">
                                <span>Linked In</span>
                            </a>
                        </div>
                    </div>
            </div>
            <div class="col-s-12 col-m-9">
                <div class="presentation">
                    <div class="headline">
                        <hgroup>
                            <h1><span>Qui je suis ?</span></h1>
                            <h2><span>Michael Antoine 30 ans..</span></h2>
                            <h3><span>Chef de project informatique et Architecte logiciel</span></h3>
                            <h4><span>Je travaille actuellement pour la société Up'n Biz...</span></h4>
                        </hgroup>
                    </div>
                    <div class="description">
                       <span>
                            Passionné par le développement web. j'adore surfer sur le net et m'inspirer des bonnes pratiques de développement et de design web.
                       <br />
                        <br />
                            Mon parcours professionnel à débuté en 2008, en société de services chez Stéria, puis j'ai découvert le monde de l'open source en 2012 chez Linagora. <br />
                            Fort de ses expériences, je suis maintenant dans une société faisant du portage salariale.
                        <br />
                        <br />
                            J'ai décidé de créer mon site personnel afin de me faire connaître et de communiquer sur mes recherches techniques,
                            mes passions autour du numérique, et de mettre en avant mes expériences personnelles et professionnelles.
                        <br />
                            Intéressé par le monde de la photographie, en tant qu'amateur, ce site me permettra aussi de partager mes créations et d'échanger sur le sujet.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
