<div class="l-container">
    <article class="article">
        <div class="row">
            <div class="col-s-12 col-m-3">
                <div class="row">
                    <div class="col-s-12">
                        <h2><span>Qui je suis ?</span></h2>
                    </div>
                    <div class="col-s-12">
                        {{ render(controller('ManManuiaBundle:Block:selfiSlider')) }}
                    </div>
                    <div class="col-s-12">
                        <div style="text-align: center;">
                            <a href="https://twitter.com/antoine_michael" target="_blank" title="Twitter">
                                <span>Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com/pub/michael-antoine/74/997/114" target="_blank" title="Linkedin">
                                <span>Linked In</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-m-9">
                <div class="presentation">
                    <p class="headline">
	                    <hgroup>
	                        <h2><span>Salut</span></h2>
	                        <h3><span>bien ou bien ? Mon nom est Michael</span></h3>
	                        <h4><span>je suis Chef de project informatique et architecte logiciel</span></h4>
	                        <h5><span>Je suis travaille pour la société Up'n Biz</span></h5>
	                    </hgroup>
	                </p>
	                <p class="description">
	                   <span>
	                        Passionné par le développement web. j'adore surfer sur le net et m'inspirer des bonnes pratiques de développement et design web.
	                   </span>
                        <span>
	                        Mon parcours professionnel dans ce milieur à débuté en 2008, dans un SSII (Stéria), puis j'ai découvert le monde de l'open source en 2012 chez Linagora.
	                        Fort de ses expériences dans le milieu du service, je suis maintenant dans une société faisant du portage salariale.
	                    </span>
	                    <span>
	                        J'ai décidé de créer mon site personnel permettant de me faire connaître et de communiquer sur mes recherches techniques,
	                        mes passions autour du numérique, et de mettre en avant mes expériences personnelles et professionnelles.
	                    </span>
	                    <span>
	                        Assez intéressé par le monde de la photographie, en tant qu'amateur, ce site me permettra aussi de partager mes créations et d'échanger sur le sujet.
	                    </span>
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>
