<div class="l-container">
    <article class="article">
        <div class="row">
            <div class="col-s-12 col-m-3">
                <div class="row">
                    <div class="col-s-12">
                        <h2><span>Qui je suis ?</span></h2>
                    </div>
                    <div class="col-s-12">
                        <p style="text-align: center;">
                            <span>Chef de project informatique</span>
                            <span>Architecte logiciel</span>
                        </p>
                    </div>
                    <div class="col-s-12">
                        {{ render(controller('ManManuiaBundle:Block:selfiSlider')) }}
                    </div>
                    <div class="col-s-12">
                        <div style="text-align: center;">
                            <a href="https://twitter.com/antoine_michael" target="_blank" title="Twitter">
                                <span>Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com/pub/michael-antoine/74/997/114" target="_blank" title="Linkedin">
                                <span>Linked In</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-m-9">
                <div class="presentation">
                    <p><span>
                        Je m'appelle Michael Antoine, et suis, entre autres, passionné de développement web. Je suis chef de projet informatique, et lead technique.
                    </span></p>
                    <p><span>
                        J'ai décidé de créer mon site personnel, me permettant de ...
                    </span></p>
                </div>
                </div>
            </div>
        </div>
    </article>
</div>
