<div class="l-container">
    <article class="article">
        <div class="row">
            <div class="col-s-12 col-m-3">
                <div class="row">
                    <div class="col-s-12">
                        <h2><span>Qui je suis ?</span></h2>
                    </div>
                    <div class="col-s-12">
                        <p style="text-align: center;"><span>Co-Founder &ndash; Chief Executive Officer</span></p>
                    </div>
                    <div class="col-s-12">
                        <div class="headshots aligncenter">
                            <div class="list-headshots-top">
                                <div class="list-items">
                                    {% for key, image in images %}
                                    <div class="item"  style="left:{{ key * 125 }}px">
                                        <img alt="" src="{{ image }}"/>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="list-headshots-bottom">
                                <div class="list-items">
                                    {% for key, image in images %}
                                    <div class="item" style="left:{{ key * 125 }}px">
                                        <img alt="" src="{{ image }}"/>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-s-12">
                        <div style="text-align: center;">
                            <a href="https://twitter.com/julienfaury" target="_blank" title="Twitter">
                                <span>Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com/in/julienfaury" target="_blank" title="Linkedin">
                                <span>Linked In</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-m-9">
                <div class="presentation">
                    <p><span>
                        Julien is appointed as the CEO of 3D Modelize and is focused on the external activities.
                        He directly operates and manage the business day-to-day, represents the company in various
                        customer and professional event.
                    </span></p>
                    <p><span>
                        He is the customer interface for 3D Modelize and manages at the same time customer acquisition
                       and designer recruitment for catalogue fulfilment.
                    </span></p>
                    <p><span>
                       Due to his experience and role Julien is also covering, marketing, communication and financial
                       functions at this moment. Strategically Julien is also leading the company’s guidance.
                    </span></p>
                    <p><span>
                       From a family of entrepreneurs, Julien Faury is a client centric manager, with 12 years experience
                       in the technology market holding senior level roles in sales. Currently, he is Regional Director
                       with Linagora, a leading open source software editor. In this role, he manages eight teams
                       (60 people) in the areas of sales, mobile application, web site software development, and R&D.
                       Over the course of his career, he has worked with teams, partners and clients across eight
                       European countries, Middle East, India, Canada and the US. Academically, he holds a Masters
                       Degree in ICT Business and is currently completely an Executive MBA program with a focus on
                       ‘Leading Innovation in a Digital World’.
                    </span></p>
                </div>
                <div class="presentation">
                    <p><span>
                       From a family of entrepreneurs, Julien Faury is a client centric manager, with 12 years experience
                       in the technology market holding senior level roles in sales. Currently, he is Regional Director
                       with Linagora, a leading open source software editor. In this role, he manages eight teams
                       (60 people) in the areas of sales, mobile application, web site software development, and R&D.
                       Over the course of his career, he has worked with teams, partners and clients across eight
                       European countries, Middle East, India, Canada and the US. Academically, he holds a Masters
                       Degree in ICT Business and is currently completely an Executive MBA program with a focus on
                       ‘Leading Innovation in a Digital World’.
                    </span></p>
                </div>
                <div class="presentation">
                    <p><span>
                        Julien is appointed as the CEO of 3D Modelize and is focused on the external activities.
                        He directly operates and manage the business day-to-day, represents the company in various
                        customer and professional event.
                    </span></p>
                    <p><span>
                        He is the customer interface for 3D Modelize and manages at the same time customer acquisition
                       and designer recruitment for catalogue fulfilment.
                    </span></p>
                    <p><span>
                       Due to his experience and role Julien is also covering, marketing, communication and financial
                       functions at this moment. Strategically Julien is also leading the company’s guidance.
                    </span></p>
                </div>
            </div>
        </div>
    </article>
</div>
