{% extends 'ManAdminBundle::layout.html.twig' %}

{% form_theme form '::form_theme.html.twig' %}

{% block title %}{{ 'Ajouter un article'|trans }}{% endblock %}

{% block admin_content %}
<section class="section">
    <div class="l-container">
        <div class="col-s-12">
            {{ include('ManAdminBundle:Post:form.html.twig', {
                'form': form,
                'submit_label': 'Ajouter'
            }) }}
        </div>
    </div>
</section>
{% endblock %}
