{% extends 'ManAdminBundle::layout.html.twig' %}

{% block title %}{{ 'Mettre à jour' }}{% endblock %}

{% block admin_content %}
<section class="section">
    <div class="l-container">
        <div class="col-s-12">
            <h1>Créer un article</h1>
        </div>
        <div class="col-s-12">
            {{ include('ManAdminBundle:Post:form.html.twig', {
                'form': form,
                'submit_label' : 'Mettre à jour'
            }) }}
        </div>
    </div>
</section>
{% endblock %}