<div class="l-container">
    <div class="s-hide-only">
        <div class="row">
            {{ include('ManManuiaBundle:Template:header/top-data.html.twig') }}
        </div>
    </div>
    <div class="s-show">
        <div class="row" id="header-top-data" style="display:none;">
            {{ include('ManManuiaBundle:Template:header/top-data.html.twig') }}
        </div>
        <div class="row">
            <div class="toggle" id="header-top-toggle">&nbsp;</div>
        </div>
    </div>
</div>
