<div class="row">
    <div class="col-s-12 col-m-6">
        {{ render(controller('ManBlogBundle:Comment:list', {'slug': post.slug})) }}
    </div>
    <div class="col-s-12 col-m-6">
        {{ render(controller('ManBlogBundle:Comment:add', {'slug': post.slug})) }}
    </div>
</div>