<div class="block-twitter aligncenter">
    <div class="tweet"><span>Créer des carrousels RESPONSIVE  avec OWL Carousel <a href="http://t.co/QSmIZZZSsH">http://t.co/QSmIZZZSsH</a> #tutoriel #jquery</span></div>
    <div class="tweet"><span>@bvek1 @ksubileau C'est un plugin, bcp de fichiers bizarre dans wysija donc je pense que ça vient de lui</span></div>
    <div class="tweet"><span>@bvek1 Tous les sites de mes clients ont été touchés :(</span></div>
</div>
