parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    admin_password:    "password"
    
    ####################################### Manuia parameters
    manuia_path_images_headshots: '%kernel.root_dir%/../src/Man/Bundle/ManuiaBundle/Resources/public/images/headshots'
    manuia_path_web_bundle: '/bundles/manmanuia/'
    manuia_path_web_images_headshots: '%manuia_path_web_bundle%images/headshots/'