{% extends "ManManuiaBundle:Template:layout.html.twig" %}

{% set manuia_color = 'green' %}
{% block header %}
    {% set manuia_color_logo = manuia_color %}
    {{ parent() }}
{% endblock %}

{% block content %}
        {% for flashMessage in app.session.flashbag.get('admin') %}
        <div class="l-container">
            <div class="row">
                <div class="col-s-12">
                    <div class="flash-message">
                        <em>Blog</em>: {{ flashMessage }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="{{ manuia_color }}">
            {% block blog_content %}{% endblock %}
        </div>
{% endblock %}