.block-flickr{
    
}

.block-flickr .flickr-item{
    float: left;
    margin: 5px;
}


.block-flickr .flickr-item .info{
    display: none;
}

.block-flickr .flickr-item.unfold .info{
    display: block;
}
.block-flickr .flickr-item.unfold .thumb{
    display: none;
}
