.block-flickr{
    
}

.block-flickr .flickr-item{
    float: left;
    margin: 5px;
    opacity: 0.6;
}


.block-flickr .flickr-item .info{
    display: none;
}

.block-flickr .flickr-item.unfold .info{
    display: block;
}

.block-flickr .flickr-item.unfold {
    opacity: 1;
}

.block-flickr .flickr-item.unfold .thumb{
    display: none;
}
