{% extends "ManManuiaBundle:Template:layout.html.twig" %}

{% block content_header_more %}
    {{ parent() }}
    <span class="menu-item"><a href="{{ path('man_manuia_homepage') }}">Test 2</a></span>
    <span class="menu-item"><a href="{{ path('man_manuia_homepage') }}">Test 3</a></span>
{% endblock %}

{% block content %}
    <div class="l-container">
	    <p>
	        On sait depuis longtemps que travailler avec du texte lisible et contenant du
	        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
	        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
	        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
	        et en tout cas comparable avec celle du français standard.
	    </p>
        <div class="row">
	        <div class="col-s-10 col-s-offset-1 col-m-6 col-m-offset-3">test offset</div>
	    </div>
	    <div class="row">
	        <div class="col-s-2 col-s-offset-10">sq</div>
	    </div>
	    <div class="row">
	        <div class="col-s-2 col-s-offset-5">sq</div>
	    </div>
	    <div class="row">
	        <div class="col-s-12 col-m-3 col-l-1">col1</div>
	        <div class="col-s-12 col-m-3 col-l-3">col2</div>
	        <div class="col-s-12 col-m-3 col-l-2">col3</div>
	        <div class="col-s-12 col-m-3 col-l-1">col4</div>

	        <div class="col-s-12 col-m-4 col-l-2"><h1>Je suis un titre h1</h1></div>
	        <div class="col-s-12 col-m-2 col-l-1">col6</div>
	        <div class="col-s-12 col-m-2 col-l-1">col7</div>
	        <div class="col-s-12 col-m-4 col-l-1">col8</div>
	    </div>
	    <div class="row">
	        <div class="s-show">Visible sur mobile</div>
	        <div class="m-show">Visible sur medium</div>
	        <div class="l-show">Visible sur large</div>

	        <div class="s-hide">Invisible à partir mobile</div>
	        <div class="m-hide">Invisible à partir medium</div>
	        <div class="l-hide">Invisible à partir large</div>
	    </div>
	    <p>
	        On sait depuis longtemps que travailler avec du texte lisible et contenant du
	        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
	        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
	        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
	        et en tout cas comparable avec celle du français standard.
	    </p>
	    <h1>h1</h1>
	    <h2>h2</h2>
	    <h3>h3</h3>
	    <h4>h4</h4>
	    <h5>h5</h5>
	    <h6>h6</h6>
	    <p>
	        On sait depuis longtemps <strong>que travailler avec du texte lisible et</strong> contenant du
	        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
	        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
	        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
	        et en tout cas comparable avec celle du français standard.
	    </p>
    </div>

    <section class="section">
        <h1>Je suis une section</h1>
        <p>
        On sait depuis longtemps que travailler avec du texte lisible et contenant du
        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
        et en tout cas comparable avec celle du français standard. De nombreuses suites
        logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur
        faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de
        nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs
        versions sont apparues avec le temps, parfois par accident, souvent intentionnellement
        (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
        </p>
    </section>

    <section class="section">
        <h1>Je suis une section</h1>
        <p>
        On sait depuis longtemps que travailler avec du texte lisible et contenant du
        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
        et en tout cas comparable avec celle du français standard. De nombreuses suites
        logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur
        faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de
        nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs
        versions sont apparues avec le temps, parfois par accident, souvent intentionnellement
        (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
        </p>
        <div class="l-container">
		    <p>
		        On sait depuis longtemps que travailler avec du texte lisible et contenant du
		        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
		        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
		        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
		        et en tout cas comparable avec celle du français standard.
		    </p>
	        <div class="row">
		        <div class="col-s-10 col-s-offset-1 col-m-6 col-m-offset-3">test offset</div>
		    </div>
		    <div class="row">
		        <div class="col-s-2 col-s-offset-10">sq</div>
		    </div>
		    <div class="row">
		        <div class="col-s-2 col-s-offset-5">sq</div>
		    </div>
		    <div class="row">
		        <div class="col-s-12 col-m-3 col-l-1">col1</div>
		        <div class="col-s-12 col-m-3 col-l-3">col2</div>
		        <div class="col-s-12 col-m-3 col-l-2">col3</div>
		        <div class="col-s-12 col-m-3 col-l-1">col4</div>

		        <div class="col-s-12 col-m-4 col-l-2">col5</div>
		        <div class="col-s-12 col-m-2 col-l-1">col6</div>
		        <div class="col-s-12 col-m-2 col-l-1">col7</div>
		        <div class="col-s-12 col-m-4 col-l-1">col8</div>
		    </div>
		    <div class="row">
		        <div class="s-show">Visible sur mobile</div>
		        <div class="m-show">Visible sur medium</div>
		        <div class="l-show">Visible sur large</div>

		        <div class="s-hide">Invisible à partir mobile</div>
		        <div class="m-hide">Invisible à partir medium</div>
		        <div class="l-hide">Invisible à partir large</div>
		    </div>
	    </div>
    </section>

    <div class="l-container">
	    <p>
	        On sait depuis longtemps que travailler avec du texte lisible et contenant du
	        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
	        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
	        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
	        et en tout cas comparable avec celle du français standard.
	    </p>
        <div class="row">
	        <div class="col-s-10 col-s-offset-1 col-m-6 col-m-offset-3">test offset</div>
	    </div>
	    <div class="row">
	        <div class="col-s-2 col-s-offset-10">sq</div>
	    </div>
	    <div class="row">
	        <div class="col-s-2 col-s-offset-5">sq</div>
	    </div>
	    <div class="row">
	        <div class="col-s-12 col-m-3 col-l-1">col1</div>
	        <div class="col-s-12 col-m-3 col-l-3">col2</div>
	        <div class="col-s-12 col-m-3 col-l-2">col3</div>
	        <div class="col-s-12 col-m-3 col-l-1">col4</div>

	        <div class="col-s-12 col-m-4 col-l-2">col5</div>
	        <div class="col-s-12 col-m-2 col-l-1">col6</div>
	        <div class="col-s-12 col-m-2 col-l-1">col7</div>
	        <div class="col-s-12 col-m-4 col-l-1">col8</div>
	    </div>
	    <div class="row">
	        <div class="s-show">Visible sur mobile</div>
	        <div class="m-show">Visible sur medium</div>
	        <div class="l-show">Visible sur large</div>

	        <div class="s-hide">Invisible à partir mobile</div>
	        <div class="m-hide">Invisible à partir medium</div>
	        <div class="l-hide">Invisible à partir large</div>
	    </div>
	    <p>
	        On sait depuis longtemps que travailler avec du texte lisible et contenant du
	        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
	        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
	        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
	        et en tout cas comparable avec celle du français standard.
	    </p>
	    <h1>h1</h1>
	    <h2>h2</h2>
	    <h3>h3</h3>
	    <h4>h4</h4>
	    <h5>h5</h5>
	    <h6>h6</h6>
	    <p>
	        On sait depuis longtemps <strong>que travailler avec du texte lisible et</strong> contenant du
	        sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
	        L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte.
	        Du texte.' est qu'il possède une distribution de lettres plus ou moins normale,
	        et en tout cas comparable avec celle du français standard.
	    </p>
    </div>

{% endblock %}
