/* ==|====================
   Module/Button
   ======================= */

.btn{
    display: inline-block;
    padding: 0 0.5em;
   

    color:$color-bg-btn-text;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5em;

    background-color: transparent;
    border: none;
    /*border: 2px solid $color-bg-btn;
    margin-top: -2px; */
    color: $color-bg-btn;
    cursor: pointer;
    @include transition-duration;
    @include border-radius(1.5em);
    &:hover{
        background-color: $color-bg-btn-hover;
        border-color: $color-bg-btn-hover;
        color:$color-bg-btn-text-hover;
    }

    
}

.btn-small{ line-height: 1.5em; }
    .btn-xsmall{ line-height: 0.5em; }
    .btn-mb {
        margin-bottom: 1.5em;
    }