/* ==|====================
   Module/Parallaw
   ======================= */
section.whoami {
    .presentation {
        .headline {
            hgroup {
                margin-bottom: 3em;
                h2, h3, h4, h5 {
                    margin: 0;
                    display: block;
                    padding: 0 10px;
                    color: $color-text-section;
                }
            }
        }
    }
    
    .description {
        span {
            padding: 0 10px;
        }
    }
}
