{% extends 'ManAdminBundle::layout.html.twig' %}

{% set configList = ['page.phone', 'page.email', 'blog.comment.enabled'] %}

{% block admin_content %}
    <section class="section">
        <div class="l-container">
           <div class="row responsive-table-line">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Propriété</th>
                            <th>Valeur</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for configName in configList %}
                        <tr>
                            <td data-title="Propriété" >{{ configName }}</td>
                            <td data-title="Valeur">{{ config(configName) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row responsive-table-line">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Contenu</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in contentInfo %}
                        <tr>
                            <td data-title="Contenu" >{{ data.name }}</td>
                            <td data-title="Nombre">{{ data.nb }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
