{% extends "ManManuiaBundle:Template:layout.html.twig" %}
{% import 'ManManuiaBundle:Template:helpers/_menu.html.twig' as menu %}

{% block header %}
    {% set manuia_color_logo = 'orange' %}
    {{ parent() }}
{% endblock %}

{% block content_header_more %}
    {{ parent() }}

{% endblock %}

{% block content %}
        {% for flashMessage in app.session.flashbag.get('admin') %}
        <div class="l-container">
            <div class="row">
                <div class="col-s-12">
                    <div class="flash-message">
                        <em>Admin</em>: {{ flashMessage }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


        {% block admin_content %}{% endblock %}


{% endblock %}

