/* ===========================
   Layout/ Blog
   =========================== */

@mixin column($nb : $columns) {
    width:$nb / $columns * 100%;
    padding: 10px $gutter-l * 0.5;
    border:1px solid $color3; 
    float: left;
    @include inline-block;
}

@mixin container-blog() {
    width: 100%;
    margin: 0 auto;
    display: block;
    min-height: 1px;
    overflow: hidden;
}

@mixin three-column {
    .header,
    .footer    { @include column($columns); @include clearfix;}
    
    .sidebar   { @include column($columns / 4); }
    .article   { @include column($columns / 2);}
    .rightbar  { @include column($columns / 4);}
    
    @media ( max-width : $width-device-m) {
        .sidebar   { @include column($columns); }
        .article   { @include column($columns);}
        .rightbar  { @include column($columns);}
    }
}

section.container-blog {
    @include container-blog;
    .article,
    .snippet,
    .blog-post { @include three-column; }
}